<!DOCTYPE html>
<html lang="en" ng-app="">
<head>
	<meta charset="UTF-8">
	<title>John and Rachel</title>
 	
	<!-- Styles -->
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
 	
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
	

</head>
<body ngController="guestListCtrl">

	<header id="header">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
					Menu
		      </button>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="#ourStory">Our Story</a></li>
	            <li><a href="#photos">Photos</a></li>
	            <li><a href="#wedding">The Wedding</a></li>
	            <li><a href="#registry">Registry</a></li>
	            <li><a href="#rsvp">RSVP</a></li>
		      </ul>

		</nav>
	</header>

	<div id="intro" class="row">
		<div class="col-sm-12">
			<div class="imageWrapper">
				<img src="images/names.png" alt="John and Rachel">			
			</div>
		</div>
	</div>

		<div id="ourStory" class="row">
			<div class="container top">
				
				<div class="col-sm-6">
					<div class="imageWrapper">
						<img src="images/weddingDay.png" alt="">
					</div>
				</div>

				<div class="col-sm-6">
					<h2 class="h2">Our Story</h2>
				<a href="#" class="backtoTop">Back to top</a>
					<div class="story">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quia quaerat numquam accusamus nostrum ducimus reiciendis quibusdam repellendus amet, voluptate quasi non debitis assumenda consequuntur, temporibus asperiores enim in nobis.</p>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quia quaerat numquam accusamus nostrum ducimus reiciendis quibusdam repellendus amet, voluptate quasi non debitis assumenda consequuntur, temporibus asperiores enim in nobis.</p>
						
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quia quaerat numquam accusamus nostrum ducimus reiciendis quibusdam repellendus amet, voluptate quasi non debitis assumenda consequuntur, temporibus asperiores enim in nobis.</p>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<div class="box">
						<h2 class="h2">Rachel</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi delectus vero reprehenderit ipsum, deserunt eveniet sint sed sit ducimus! Esse possimus harum doloribus optio dolore ipsa quos tempore, deleniti cum.</p>		
					</div>
				</div>		
				<div class="col-sm-6 col-xs-12">
					<div class="box">
						<h2 class="h2">John</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi delectus vero reprehenderit ipsum, deserunt eveniet sint sed sit ducimus! Esse possimus harum doloribus optio dolore ipsa quos tempore, deleniti cum.</p>
					</div>
				</div>	
			</div>
		</div><!-- end row -->

		<div id="photos" class="row">
			<div class="container top">
				<div class="col-sm-12">
					<h2 class="h2">Photos</h2>
					<a href="#" class="backtoTop">Back to top</a>
				</div>		

				<div class="col-sm-3 col-xs-12">
					<div class="imageWrapper">
						<img src="images/weddingDay.png" alt="">
					</div>
				</div>
				<div class="col-sm-3 col-xs-12">
					<div class="imageWrapper">
						<img src="images/dumbo.png" alt="">
					</div>
				</div>
				<div class="col-sm-3 col-xs-12">
					<div class="imageWrapper">
						<img src="images/subway.png" alt="">
					</div>
				</div>
				<div class="col-sm-3 col-xs-12">
					<div class="imageWrapper">
						<img src="images/soho.png" alt="">
					</div>
				</div>
			</div>
		</div><!-- end row -->

		<div id="wedding" class="row">
			<div class="container">
<!-- 				<div class="col-sm-6">
					<h2 class="h2">The Wedding</h2>
					<a href="#" class="backtoTop">Back to top</a>
				</div> -->
				
				<div class="col-sm-6 col-xs-12">
				<h2 class="h2">The Wedding</h2>
					<a href="#" class="backtoTop">Back to top</a>
					<ul class="list-unstyled">
						<li><span class="info-titles">Who:</span> Rachel and John</li>
						<li><span class="info-titles">What:</span> A Celebration of Marriage</li>
						<li><span class="info-titles">When:</span> Summer 2015</li>
						<li><span class="info-titles">Where:</span> Brooklyn, NY</li>
						<li><span class="info-titles">Why:</span> Because Love is in the Air</li>
						<li><span class="info-titles">How:</span> <a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&es_th=1&ie=UTF-8#q=travel%20to%20brooklyn%20new%20york" target="_blank">Travel</a> &amp; <a href="http://www.airbnb.com" target="_blank">Accommodations</a> Info</li>
					</ul>
				</div>
				<div class="col-sm-6 col-xs-12">
				<h4 class="h4">The Place to Be</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi delectus vero reprehenderit ipsum, deserunt eveniet sint sed sit ducimus! Esse possimus harum doloribus optio dolore ipsa quos tempore, deleniti cum.</p>

				<h4 class="h4">Traveling Here</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi delectus vero reprehenderit ipsum, deserunt eveniet sint sed sit ducimus! Esse possimus harum doloribus optio dolore ipsa quos tempore, deleniti cum.</p>
				<h4 class="h4">Staying here</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi delectus vero reprehenderit ipsum, deserunt eveniet sint sed sit ducimus! Esse possimus harum doloribus optio dolore ipsa quos tempore, deleniti cum.</p>
				</div>
			</div>
		</div><!-- end row -->

		<div id="registry" class="row">
			<div class="container">
			<div class="col-sm-12">
				<h2 class="h2">Registry</h2>
				<a href="#" class="backtoTop">Back to top</a>				
			</div>
				<div class="col-sm-6 col-xs-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi delectus vero reprehenderit ipsum, deserunt eveniet sint sed sit ducimus! Esse possimus harum doloribus optio dolore ipsa quos tempore, deleniti cum.</p>
				
				</div>		
				<div class="col-sm-6 col-xs-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi delectus vero reprehenderit ipsum, deserunt eveniet sint sed sit ducimus! Esse possimus harum doloribus optio dolore ipsa quos tempore, deleniti cum.</p>
				</div>	
			</div>
		</div><!-- end row -->

		<div id="rsvp" class="row">
			<div class="container">
				<div class="col-sm-6 col-xs-12">
					<h2 class="h2">RSVP</h2>
					<a href="#" class="backtoTop">Back to top</a>

					<form action="">
						<label for="email">Email Address</label>	
						<!-- <input type="email" name="text" id="guestEmail" ng-model="guestEmail"> -->
						<input type="text" name="text" id="guestName" ng-model="guestName">
						<button ng-click="saveEmail()">Submit <span class="glyphicon glyphicon-ok"></span></button>
					</form>

					<div class="guestList">
						Guest Email: {{guestName}}
					</div>

				</div>
				<div class="col-sm-6 col-sm-12">
					<div id="gmap"></div>
      				<div id="controls"></div>
				</div>		

			</div>
		</div><!-- end row -->

		<div id="brownstones" class="row"></div>

	<footer>
		<div class="container">
			Made with love by: <a href="http://about.me/jonfreeze">John Friese</a>
		</div>
	</footer>


	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

	<!-- Custom JS -->
	<script src="js/custom.js"></script>

	<!-- Plugins -->
	<script src="js/jquery.scrollTo.min.js"></script>
	<script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.7">
	</script>
    <script src="js/maplace.min.js"></script>
	

</body>
</html>